$bg-light: #eee;
$switch-light-active: #009587;
$switch-light-inactive: #717171;

$bg-dark: #333;
$switch-dark-active: #009587;
$switch-dark-inactive: #f6f6f6;


*
{
	box-sizing: border-box;
}

body
{
	background-color: $bg-light;
	font-family: 'Roboto', sans-serif;
}

label
{
	cursor: pointer;
}

.checkbox
{
	display: inline-block;
	position: relative;
	vertical-align: bottom;

	input[type="checkbox"]
	{
		cursor: pointer;
		height: 100%;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 100;
	}

	span
	{
		display: block;
		position: absolute;
		left: 0;
		z-index: 1;

		transition-duration: 0.2s;
	}

	.ripple
	{
		background-color: $switch-light-inactive;
		border-radius: 100%;
		content: ' ';
		display: block;
		height: 3rem;
		left: -0.875rem;
		margin: 0;
		opacity: 0;
		position: absolute;
		top: -0.875rem;
		width: 3rem;

		animation: unripple 450ms;
		-webkit-animation: unripple 450ms;
	}
		input[type="checkbox"]:checked ~ .ripple
		{
			background-color: $switch-light-active;

			animation: ripple 450ms;
			-webkit-animation: ripple 450ms;
		}

	.check
	{
		border: 0.125rem solid;
		border-radius: 0.125rem;
		color: $switch-light-inactive;
		height: 1.25rem;
		overflow: hidden;
		position: relative;
		width: 1.25rem;

		&:before
		{
			box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
			color: $switch-light-active;
			content: ' ';
			display: block;
			height: 0;
			margin-top: -0.25rem;
			margin-left: 0.375rem;
			position: absolute;
			width: 0;

			transform: rotate(45deg);

			animation: uncheck 150ms linear forwards;
			-webkit-animation: uncheck 150ms linear forwards;
		}
	}
		input[type="checkbox"]:checked ~ .check
		{
			border-color: $switch-light-active;

			&:before
			{
				box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 1.25rem -0.75rem 0 0.6875rem;
				color: $switch-light-active;
				
				animation: check 150ms linear forwards;
				-webkit-animation: check 150ms linear forwards;
			}
		}

		input[type="checkbox"][disabled]:not(:checked) ~ .check:before
		{
			opacity: 0.5;
		}
}


@-webkit-keyframes check
{
	0%
	{
		box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 0.9375rem 0.125rem 0 0.6875rem;
	}

	50%
	{
		box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 1.25rem 0.125rem 0 0.6875rem;
	}

	100%
	{
		box-shadow:	0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 1.25rem -0.75rem 0 0.6875rem;
	}
}

@-webkit-keyframes uncheck
{
	0%
	{
		box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 1.25rem -0.75rem 0 0.6875rem, 0 0 0 0 inset;
	}

	25%
	{
		box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 1.25rem -0.75rem 0 0.6875rem, 0 0 0 0 inset;
	}

	50%
	{
		box-shadow: 0 0 0 0.625rem, 0.625rem -0.625rem 0 0.625rem, 2rem 0 0 1.25rem, 0 2rem 0 1.25rem, -0.3125rem 0.3125rem 0 0.625rem, 0.9375rem 0.125rem 0 0.6875rem, 0 0 0 0 inset;
		height: 0;
		margin-left: 0.375rem;
		margin-top: -0.25rem;
		width: 0;

		transform: rotate(45deg);
	}

	51%
	{
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0.625rem inset;
		height: 1.25rem;
		margin-left: -0.125rem;
		margin-top: -0.125rem;
		width: 1.25rem;

		transform: rotate(0deg);
	}

	100%
	{
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
		height: 1.25rem;
		margin-left: -0.125rem;
		margin-top: -0.125rem;
		width: 1.25rem;

		transform: rotate(0deg);
	}
}

@-webkit-keyframes ripple
{
	0%
	{
		opacity: 0;
	}

	50%
	{
		opacity: 0.1;
	}

	100%
	{
		opacity: 0;
	}
}

@-webkit-keyframes unripple
{
	0%
	{
		opacity: 0;
	}

	50%
	{
		opacity: 0.1;
	}

	100%
	{
		opacity: 0;
	}
}

body.dark
{
	background-color: $bg-dark;
	color: #ccc;

	.checkbox
	{
		.ripple
		{
			background-color: $switch-dark-inactive;
		}
			input[type="checkbox"]:checked ~ .ripple
			{
				background-color: $switch-dark-active;
			}

		.check
		{
			color: $switch-dark-inactive;

			&:before
			{
				color: $switch-dark-active;
			}
		}
			input[type="checkbox"]:checked ~ .check
			{
				border-color: $switch-dark-active;

				&:before
				{
					color: $switch-dark-active;
				}
			}
	}
}